@import "./_variables.scss";

h1 {
  color: $red-color;
}

h2 {
  color: green;
}

a {
  color: #101010;
}

.card-course-item {
  margin-top: 16px;
}

.card-title {
  min-height: 48px;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}

.checkbox-select-all-options {
  width: 160px;
  margin: 0 8px;
}

.elevator-icon,
.sort-ascending-icon,
.sort-descending-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

.elevator-icon {
  background-image: url("../img/elevator.svg");
}

.sort-ascending-icon {
  background-image: url("../img/sort-ascending.svg");
}

.sort-descending-icon {
  background-image: url("../img/sort-descending.svg");
}
